#head-search{
	background-color: #30333E;
	position: fixed;
	width: 100%;
	top: 0;
}
#head-search>button{
	background-color: #30333E;
	color: white;
	border: none;
	margin-left: 0;
}
#head-search>label{
	height: 25px;
	border-radius: 30px;
}

/*底部四个按钮*/
.tabs-positive>.tabs{
	background-color: #252525;
}
/*清除浮动*/
.clear{
	clear: both;
}

/*主页内容图片*/
.head-pic{
	width: 100%;
	line-height: 0;
}
.head-pic a{
	display: inline-block;
	width: 100%;
	line-height: 0;
}
.pic{
	height: 30vh;
}
.pic a{
	width: 100%;
	height: 100%;
}
.head-pic>.pic img{
	width: 100%;
	height: 100%;
}
.pic-db-one,.pic-db-two{
	width: 50%;
	height: 20vh;
	float: left;
}
.pic-db-one img,.pic-db-two img{
	width: 100%;
	height: 100%;
}
.pic-db-one a,.pic-db-two a{
	width: 100%;
	height: 100%;
}
/*主页热卖专区*/
.hot-sale .has-header{
	top: 0;
}
.hot-sale h1{
	color: #333333;
	font-size: 1rem;
	text-align: center;
	margin-top: 20px;
}
.content{
	width: 100%;
}
.col{
	width: 30%;
	height: 40vh;
	margin: 0 10px;
	background-color: #F1F1F1;
}
#row-margin{
	margin-top: 10px;
}
.hot-sale-one{
	position: relative;
	width: 100%;
	height: 100%;
}
.hot-sale-one>span{
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 40px;
	top: 0;
	left: 0;
}
.hot-sale-one>span>img{
	width: 100%;
	height: 100%;
}
.hot-sale-one>img{
	width: 192px;
	height: 192px;
}
.hot-dp{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.detail{
	margin: 0;
	color: black;
	padding: 0 20px;
	font-size: 0.8rem;
}
.price{
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
	color: red;
}
#hot-sale-size{
	height: 280px;
}
#type{
	height: 330px;
}
/*分类区*/

.type-size{
	height: 130px;
	text-align: center;
	background-color: transparent;
}
/*底部*/
#tel-pic{
	text-align: center;
}
#tel{
	text-align: center;
}
#tel>a{
	text-decoration: none;
	font-size: 26px;
	color: black;
}
#work{
	text-align: center;
	color: #c2c2c2;
	font-size: 20px;
}
/*侧栏*/
aside{
	position: absolute;
	bottom: 50px;
	right: 10px;
	width: 100px;
	height: 45px;
	z-index: 1000;
}
aside>a{
	text-decoration: none;
	font-size: 18px;
	background-color: #5b799a;
	color: white;
}
